.weatherLocation {
    margin-left:10px;
    margin-right:10px;
    width: calc(100% - 20px );
    min-width: 430px;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Roboto', 'san-serif';
    box-shadow: 10px 10px 42px -12px;
    cursor: pointer;
}

.locationCont {
    width: 100%;
    height: 30px;
    text-align: left;
    color: #888;
    line-height: 25px;
}

.locationCont h1 {
    margin: 0;
    margin-bottom: 5px;
    padding-left: 10px;
}
